@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --primary: #004db3;
  --secondary: #c5c900;
  --gradient: linear-gradient(
    90deg,
    rgba(0, 77, 179, 0.95) 0%,
    rgba(14, 159, 255, 0.95) 100%
  );
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-secondary {
  color: var(--secondary);
}

.color-primary {
  color: var(--primary);
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
